# Python
_pycache_/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Distribution / packaging
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Logs and checkpoints
logs/
*.log
*.ckpt
lightning_logs/
wandb/
aim/
mlruns/
outputs/
multirun/

# Data
data/erdes/18644370
data/erdes/Non_Retinal_Detachment/*
data/erdes/Retinal_Detachment/*    
*.mp4
*.avi
*.mov
*.h5
*.hdf5
*.pkl
*.npy
*.npz

# checkpoints
weights/*

# DVC
.dvc/
/dvc.lock
/dvc.yaml
.dvcignore

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Hydra
outputs/
multirun/

# Editor temporary/backup files
*~
*.swp
*.swo
*.bak*.safetensors
*.pth


